<!DOCTYPE html>
<html>
      <head>
            <title>Title</title>
            <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
            {{>header}}
            <h2> country name is : {{countryName}}</h2>
            <h2>latitude = {{latitude}}</h2>
            <h2>longitude = {{longitude}}</h2>
            <h2>current weather Is : {{currentWeather}}</h2>
            <h2>temperature = {{temperature}}</h2>
      </body>
</html>